<div class="card bg-light m-3">
    <div class="card-body">
    <h2>Welcome to the Study! Please read the following instructions carefully. </h2>
    <p>
        The experiment proceeds in rounds. There will be three (3) practice rounds (for which you will not be paid) and ten (10) real rounds (for which you will be paid), for a total of thirteen (13) rounds. 
     </p>     
           <p>
        In each round, before you make any choices, two coins will be flipped - a <b>fair</b> one (with <b>equal probabilities of landing heads or tails</b>), and a <b>biased</b> one (with a <b>75 out of 100 chance of landing HEADS</b>). You will <b>not</b> be informed of their outcomes automatically.
      </p>  
        <p>
            Thus, in each round, two different coins will be flipped, and you will not know the results.
        </p>
    
    </div>
</div>
